* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  font-size: 16px;
}
.welcome {
  margin: 3rem;
  position: relative;
}
.welcome h1 {
  text-align: center;
  font-weight: 400;
}
.welcome h1 i {
  font-size: 12px;
  position: absolute;
  top: 20px;
  color: red;
}
.welcome h1 i:first-child {
  margin-left: -50px;
}
.welcome h1 i:last-child {
  margin-left: 40px;
}
.welcome h1::after {
  content: "";
}
.welcome span:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 25px;
  width: 20px;
  border-top: 2px blue solid;
  margin-left: 10px;
}
.welcome span:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: 25px;
  width: 20px;
  border-top: 2px blue solid;
  margin-left: -30px;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: auto;
}
.card {
  width: 30%;
  padding: 2rem;
  border: none;
}
.card:hover {
  background-color: rgb(255, 253, 253);
  border-radius: 5px;
  box-shadow: -1px 0px 20px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card h1 {
  text-align: center;
  color: blue;
  font-size: 70px;
  margin: 0;
}
.card h2 {
  color: red;
  text-align: center;
  font-weight: 400;
}
.card p {
  text-align: center;
}
.form {
  width: 30%;
  padding: 2rem;
  background-color: blue;
  position: relative;
  text-align: center;
}
.form h2 {
  color: white;
}
.form p {
  color: white;
}
.form .icon {
  position: absolute;
  top: -40px;
  font-size: 70px;
  color: red;
  left: 336px;
}
.form button {
  width: 40%;
}
.recommendations {
  margin-top: 3rem;
}
.recommendations span {
  border: 2px solid lightskyblue;
  margin: 3px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: lightgray;
}
