body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: hsl(240, 78%, 98%);
}
h1,h2,h4{
    color: hsl(232, 13%, 33%);
}
p{
    color:hsl(233, 13%, 49%)
}
input, button{
    font-family: inherit;
    font-weight: inherit;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.box{
    width: 90%;
    margin: 60px;
    height: 400px;
}
.text-center{
    text-align: center;
}
.card{
    float: left;
    background-color:white;
    width: 28%;
    padding: 1.3rem;
    border-radius: 8px;
    height: 100%;
}
.active{
    background-image: linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    border-radius: 10px;
    height: 115%;
    top: -30px;
    position: relative;
}
.active p{
    color: white;
}
.active h2{
    color:white;
}
.active h4{
    color:white;
}

.card-title{
    text-align: center;
}
.card-price{
    text-align: center;
    font-size: 3.3em;
}
.card-specs{
    text-align: center;
}
.card button{
    width: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    border:none;
    margin-top: 2rem;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    text-transform: uppercase;
    color: white;
}

.active button{
    background-image:none;
    background-color:white;
    color: hsl(233, 13%, 49%);
}

.clearfix {
    clear: both;
}