* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}
header {
  width: 90%;
  margin: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark-mode {
  font-weight: 600;
}
.app-container {
  background-color: hsl(0, 0%, 98%);
  min-height: 100vh;
}
.bold {
  font-weight: 600;
}
