<div class="container">
  {{ diagnostic }}
  <h1>Hero Form</h1>
  <form action="" #heroForm="ngForm" class="col-lg-6">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="model.name"
        class="form-control"
        required
        #name="ngModel"
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        This field is required
      </div>
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="model.email"
        class="form-control"
        required
        #email="ngModel"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
      <div
        [hidden]="!email.errors?.required || email.pristine"
        class="alert alert-danger"
      >
        This field is required
      </div>
      <div
        [hidden]="!email.errors?.pattern || email.pristine"
        class="alert alert-danger"
      >
        Please enter a valid email
      </div>
    </div>
    <div class="form-group">
      <label for="AlterEgo">AlterEgo</label>
      <input
        type="text"
        name="AlterEgo"
        [(ngModel)]="model.alterEgo"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="AlterEgo">Powers</label>
      <select
        name="powers"
        id="powers"
        class="form-control"
        [(ngModel)]="model.power"
        #power="ngModel"
        required
      >
        <option value="">None</option>
        <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
      </select>
      <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
        This field is required
      </div>
    </div>
  </form>
</div>
