<div class="container">
  <div class="filters">
    <div class="text-wrapper">
      <input
        #searchCountries
        type="text"
        placeholder="Search for a country..."
        (keyup)="filterCountries(searchCountries.value)"
      />
    </div>
    <div class="drp-wrapper">
      <select name="region" id="region">
        <option value="">All</option>
        <option value="europe">Europe</option>
        <option value="europe">Africa</option>
        <option value="europe">Asia</option>
      </select>
    </div>
  </div>
  <div class="countries">
    <div
      *ngFor="let country of countries"
      class="country-card"
      (click)="details(country.name)"
    >
      <div class="flag">
        <img [src]="country.flag" alt="" />
      </div>
      <div class="country-info">
        <h3>{{ country.name }}</h3>
        <p><span class="bold">Population: </span>{{ country.population }}</p>
        <p><span class="bold">Region: </span>{{ country.region }}</p>
        <p><span class="bold">Capital: </span>{{ country.capital }}</p>
      </div>
    </div>
  </div>
</div>
