* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 40px;
}
.calculator {
  width: 40%;
  margin: auto;
}
.calc-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border: 1px solid black;
  font-size: 40px;
  cursor: pointer;
}
.row {
  display: flex;
  height: 100px;
}
.col {
  width: 100%;
}
.col:hover {
  background-color: lightgray;
}
.col-75 {
  display: flex;
  width: 75%;
}
.col-50 {
  display: flex;
  width: 50%;
}
.col-25 {
  display: flex;
  width: 25%;
}
.result {
  background-color: black;
  text-align: right;
  color: white;
}
.operator {
  background-color: #df974c;
}
