body {
  font-family: "Poppins";
  font-size: 16px;
  margin: 0;
  background-color: hsl(0, 0%, 75%);
  color: hsl(0, 0%, 75%);
}
header {
  background-color: white;
  padding: 3rem 8rem;
}
button,
input {
  font-family: inherit;
  font-weight: inherit;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.left-nav {
  display: flex;
}
.logo {
  margin-right: 2rem;
}
.anchor-link {
  text-decoration: none;
  color: hsl(0, 0%, 75%);
  font-weight: 700;
}
.links .anchor-link {
  margin: 1rem;
  margin-top: 10px;
}
.right-nav .anchor-link {
  margin-top: 10px;
  margin-right: 20px;
}
.right-nav {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
.btn {
  padding: 0.7rem 1rem;
  cursor: pointer;
  display: block;
  border-radius: 40px;
  border: none;
  font-weight: 800;
}
.btn-signup {
  color: white;
  background-color: hsl(180, 66%, 49%);
  width: 65%;
}
.btn-login {
  background-color: none;
}
.get-started {
  margin-top: 8rem;
  display: flex;
}
.get-started h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  line-height: 5rem;
  color: rgb(0, 0, 0, 0.8);
}
.get-started p {
  font-weight: 600;
  font-size: 1.2rem;
}
.get-started button {
  width: 40%;
  font-size: 1.2rem;
  color: white;
  background-color: hsl(180, 66%, 49%);
  font-weight: 600;
}
.branding {
  width: 80%;
  margin-right: 10%;
}
.get-started-img {
  width: 50%;
}
.get-started-img img {
  width: 100%;
  height: 100%;
}
