body {
  font-family: "Poppins";
  font-size: 16px;
  margin: 0;
  background-color: hsl(0, 0%, 75%, 10%);
  box-sizing: border-box;
}
header {
  background-color: white;
  padding: 3rem 8rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
button,
input {
  font-family: inherit;
  font-weight: inherit;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.left-nav {
  display: flex;
}
.logo {
  margin-right: 2rem;
}
.anchor-link {
  text-decoration: none;
  color: hsl(0, 0%, 75%);
  font-weight: 700;
}
.links .anchor-link {
  margin: 1rem;
  margin-top: 10px;
}
.right-nav .anchor-link {
  margin-top: 10px;
  margin-right: 20px;
}
.right-nav {
  width: 16%;
  display: flex;
  justify-content: space-between;
}
.btn {
  padding: 0.7rem 1rem;
  cursor: pointer;
  display: block;
  border-radius: 40px;
  border: none;
  font-weight: 800;
}
.btn-signup {
  color: white;
  background-color: hsl(180, 66%, 49%);
  font-weight: 600;
  font-size: 0.9rem;
}
.btn-login {
  background-color: none;
}
.get-started {
  margin-top: 8rem;
  display: flex;
  margin-bottom: 8rem;
}
.get-started h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  line-height: 5rem;
  color: rgb(0, 0, 0, 0.8);
}
.get-started p {
  font-weight: 600;
  font-size: 1.2rem;
}
.btn-get-started {
  width: 40%;
  font-size: 1.2rem;
  color: white;
  background-color: hsl(180, 66%, 49%);
  font-weight: 600;
}
.branding {
  width: 50%;
  margin-right: 10%;
}
.branding p {
  color: hsl(0, 0%, 75%);
}
.get-started-img {
  width: 50%;
}
.get-started-img img {
  height: 100%;
  width: 150%;
}
.short-link {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  border-radius: 20px;
  background-image: url(images/bg-shorten-desktop.svg);
  background-color: hsl(257, 27%, 26%);
  position: relative;
  z-index: 3;
  margin: -5rem 8rem 0rem 8rem;
}
.short-link input,
.short-link button {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  outline: none;
}
.short-link input {
  width: 70%;
}
.short-link button {
  width: 20%;
  color: white;
  background-color: hsl(180, 66%, 49%);
}
.container {
  display: flex;
  padding: 3rem 8rem;
  flex-flow: wrap;
  justify-content: center;
}
.stats {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}
.stats-cards {
  display: flex;
  z-index: 2;
  align-items: flex-start;
}

.stats-intro h2 {
  color: rgb(0, 0, 0, 0.8);
  font-size: 1.9rem;
}
.stats-intro p {
  color: hsl(0, 0%, 75%);
  font-weight: 600;
}
.card {
  margin: 1rem;
  background-color: white;
  padding: 1rem;
  align-items: flex-start;
  border-radius: 5px;
}
.card h3 {
  color: rgb(0, 0, 0, 0.8);
}
.card p {
  color: hsl(0, 0%, 75%);
}
.card-icon {
  border-radius: 50%;
  background-color: hsl(257, 27%, 26%);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}
.card-icon img {
  width: 50%;
  height: 50%;
}
.card:nth-child(2) {
  margin-top: 60px;
}
.card:nth-child(3) {
  margin-top: 120px;
}
.cards-border {
  margin-top: -202px;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
  width: 80%;
  margin-left: 1rem;
}
.cards-border > div {
  border: 3px solid cyan;
}
.boost {
  background-image: url(images/bg-shorten-desktop.svg);
  background-color: hsl(257, 27%, 26%);
  text-align: center;
  padding: 3rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boost button {
  width: 15%;
}
.boost h1 {
  color: white;
  font-size: 3rem;
}
footer {
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(260, 8%, 14%);
  color: white;
}
.links {
  display: flex;
}
.links div {
  margin: 0 2rem;
}
.links div h4 {
  margin: 0;
  margin-bottom: 1rem;
}
.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.links a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.social-links img {
  margin: 0 0.5rem;
}
.social-links a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
